.box {
    width: 200px;
    height: 200px;
    background-color: red;
}

.box.green {
    background-color: green;
}

.container {
    background-color: black;
    width: 200px;
    height: 200px;
}

.trojan{
    border: 3px dashed black;
}